{% extends 'base_app/home.html' %}
{% block content %}
<table>
    <thead>
      <tr>
        <th>Resource Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
        <tr>
          <td>{{ resource.resource_name }}</td>
          <td>{{ resource.description }}</td>
          <td>
            <form action="{% url 'book_resource' resource.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="resource_id" value="{{ resource.id }}">
              <button type="submit">Book</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}