{% extends 'base_app/home.html' %}
{% block content %}
<div class="container-fluid mx-1">
  <h1>My resources</h1>
  <div class="container-fluid d-flex my-4 justify-content-between">
    <a class="btn btn-outline-primary" href="{% url 'land-company' %}">Back to Dashboard</a>
    <a class="btn btn-primary" href="{% url 'create-resource' %}">Add your resources</a>
  </div>
  <table class="table table-striped p-3">
    <thead class="thead-dark">
      <tr>
          <th scope="col">Resource Name</th>
          <th scope="col">Description</th>
          <th scope="col">Resource Type</th>
          <th scope="col">Status</th>
          <th scope="col">Available From</th>
      </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
          <td><a href="{% url 'detailview' resource.id %}">{{ resource.resource_name }}</a></td>
          <td>{{ resource.description }}</td>
          <td>{{ resource.resource_type }}</td>
          {% if resource.is_available %}
            {% if resource.booking_status == True %}
              <td class="text-success font-weight-bold">Available</td>
            {% else %}
              <td class="text-danger font-weight-bold">Booked</td>
            {% endif %}
          {% else %}
            <td class="text-muted">Unavailable</td>
          {% endif %}
            <td>{{ resource.available_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  

  <div class="container-fluid d-flex my-4 justify-content-between">
    <a class="btn btn-outline-primary" href="{% url 'land-company' %}">Back to Dashboard</a>
    <a class="btn btn-primary" href="{% url 'create-resource' %}">Add your resources</a>
  </div>
</div>
{% endblock %}