{% extends 'base_app/home.html' %}
{% block content %}
<div class="container-fluid">
      <h1 class="text-uppercase h1 text-white bg-dark p-2">Detail view</h1>
      {% if usr_type == "Company" %}
            <table class="table table-stripped">
                  <thead>
                  <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Resource Type</th>
                  <th>Company</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <td>{{ object.id }}</td>
                  <td>{{ object.resource_name }}</td>
                  <td>{{ object.description }}</td>
                  <td>{{ object.resource_type }}</td>
                  <td>{{ object.created_by }}</td>
                  </tr>
                  </tbody>
            </table>
            <div class="container-fluid d-flex my-4 justify-content-between">
                  <a class="btn btn-outline-primary" href="{% url 'listview' %}">Back to List view.</a>
                  {% if object.booking_status == True %}
                  <form action="{% url 'bookresource' object.id %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="resource_id" value="{{ object.id }}">
                        <button type="submit" class="btn btn-success">Book for me</button>
                  </form>
                  {% endif %}
                  {% if is_creator == True %}
                  <a class="btn btn-outline-dark" href="{% url 'updateview' object.pk %}">Update</a>
                  <a class="btn btn-danger" href="{% url 'deleteview' object.pk %}">Delete resource</a>
                  {% endif %}
            </div>
      {% else %}
            <table class="table table-stripped">
                  <thead>
                  <tr>
                  <th>ID</th>
                  <th>Resource Type</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <td>{{ object.id }}</td>
                  <td>{{ object.resource_type_name }}</td>
                  </tr>
                  </tbody>
            </table>
            <div class="container-fluid d-flex my-4 justify-content-between">
                  <a class="btn btn-outline-primary" href="{% url 'adminlistview' %}">Back to List view.</a>
                  <a class="btn btn-outline-success" href="{% url 'adminupdateview' object.pk %}">Update</a>
                  <a class="btn btn-danger" href="{% url 'admindeleteview' object.pk %}">Delete resource type</a>
            </div>
      {% endif %}
</div>

{% endblock %}